{% extends 'layouts/page.njk' %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block content %}
  <form action="/answer" method="POST">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div style="float: right;">
          {{ govukSelect({
            id: "searchType",
            name: "searchType",
            items: [
              {
                value: "ai",
                text: "Ai Search",
                selected: true
              },
              {
                value: "vector",
                text: "Vector Search"
              },
              {
                value: "govuk",
                text: "Gov Uk Search"
              }
            ]
          }) }}
        </div>
      </div>
    </div>

    {{ appHeading({
      text: heading
    }) }}
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukInput({
          id: "event-name",
          name: "eventName"
        }) }}
      </div>
      <div class="govuk-grid-column-one-third">
        {{ govukButton({
          text: "Send"
        }) }}
      </div>
    </div>
  </form>

  {% include "search/instructions.njk" %}
{% endblock %}
